body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #ededed;
}

.wrapper {
  background-color: #fff;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

a, a:link, a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #81b3d2;
}

a:active {
  color: #000000;
  opacity: 0.3;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
  z-index: 2;
}

.main-navigation {

}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.site-item {
  margin: 0;
  padding: 0;
  width: 22.7%;
}

.site-item:nth-child(1),
.site-item:nth-child(2) {
  text-align: left;
}

.site-item:nth-child(3),
.site-item:nth-child(4) {
  text-align: right;
}

.site-item:nth-child(3) {
  margin-left: auto;
}

.site-item-active a {
  color: #766357;
  opacity: 1;
}

.site-navigation a {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  height: 56px;
  padding-top: 17px;
  box-sizing: border-box;
}

.logo-sedona {
  width: 140px;
  height: 72px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo-sedona:active {
  opacity: 1;
}

.intro {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 61px;
  padding-bottom: 53px;
}

.intro b {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 29px;
  display: block;
}

.intro p {
  margin: 0;
}

.welcome {
  height: 508px;
  position: relative;
  background: #3b6f9d url(../img/background-sedona.jpg) center no-repeat
}

.welcome:before {
  content: '';
  display: block;
  height: 353px;
  position: absolute;
  left: 0;
  right: 0;
  top: 76px;
  background-image: url(../img/welcome-sedona.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.welcome:after {
  content: '';
  display: block;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/mask-sedona.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
}

.welcome img {
  font-size: 0;
  line-height: 0;
}

.blue {
  display: flex;
}

.blue-img {
  line-height: 0;
  width: 66.666%;
  overflow: hidden;
}

.blue-img img {

}

.blue-text {
  background-color: #81b3d2;
  color: #fff;
  height: 256px;
  width: 33.333%;
  display: flex;
}

.reason {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.reason h2 {
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto 23px;
  max-width: 160px;
}

.feature-item h2 {
  color: #000;
}

.reason span {
  display: block;
  margin-bottom: 21px;
}

.reason p {
  margin: 0;
  padding-bottom: 12px;
}

h2.compact {
  max-width: 110px;
}

.feature-grey {
  display: flex;
  background-color: #eeeeee;
  height: 256px;
}

.feature-item {
  width: 33.333%;
  display: flex;
}

.search {
  margin-bottom: -120px;
}

.search-intro {
  text-align: center;
  padding-top: 52px;
  width: 568px;
  margin: 0 auto;
}

.search-intro b {
  font-weight: bold;
  color: #000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 24px;
  display: block;
}

.search-intro p {
  text-transform: uppercase;
  margin: 0 0 45px;
  line-height: 24px;
}

a.form-opener {
  background-color: #766357;
  color: #fff;
  display: block;
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  padding-top: 31px;
  font-weight: bold;
  box-sizing: border-box;
}

.form-opener:hover {
  background-color: #604e43;
}

.form-opener:active {
  background-color: #503e33;
  opacity: 1;
}

.form-opener:active span {
  opacity: 0.3;
}

.search-map-form {
  position: relative;
}

.search-map {
  display: block;
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 568px;
  background-color: #fff;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  height: 396px;
  transition: height 1s ease;
  overflow: hidden;
}

.search-form-hidden {
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.search-form-wrapper {
  padding: 55px;
}

.search-form label {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  width: 112px;
  display: block;
  padding-top: 9px;
  box-sizing: border-box;
}

.search-form input {
  height: 38px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  background-color: #f2f2f2;
  border: none;
  padding: 2px 12px 0 12px;
  width: 346px;
  display: block;
  box-sizing: border-box;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  outline: none;
}

.search-form-row {
  margin: 0 0 30px;
  display: flex;
  position: relative;
}

.search-form-adults {
  width: 112px;
}

.search-form .search-form-children {
  width: 118px;
  padding-left: 52px;
}

.search-form-plus-minus {
  position: relative;
}

.search-form-plus-minus input {
  width: 114px;
  text-align: center;
  padding-left: 38px;
  padding-right: 38px;
  box-sizing: border-box;
}

.search-form-minus {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/minus.svg);
}

.search-form-minus:hover {
  background-image: url(../img/minus-hover.svg);
}

.search-form-minus:active {
  background-image: url(../img/minus-active.svg);
}

.search-form-plus {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/plus.svg);
}

.search-form-plus:hover {
  background-image: url(../img/plus-hover.svg);
}

.search-form-plus:active {
  background-image: url(../img/plus-active.svg);
}

.search-form-calendar {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/calendar.svg);
}

.search-form-calendar:hover {
  background-image: url(../img/calendar-hover.svg);
}

.search-form-calendar:active {
  background-image: url(../img/calendar-active.svg);
}

.search-form-submit {
  display: block;
  width: 100%;
  border: none;
  background: #81b3d2;
  padding: 2px 0 0;
  margin-top: 54px;
  height: 58px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.search-form-submit:hover {
  background-color: #669ec0;
}

.search-form-submit:active {
  background-color: #5496bd;
  opacity: 1;
}

.search-form-submit:active span {
  opacity: .3;
}

.services {
  text-align: center;
  display: flex;
  height: 330px;
}

.service-item {
  width: 33.333%;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

.service-item-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.service-heading {
  font-size: 21px;
  line-height: 21px;
  display: block;
  color: #000;
  margin-bottom: 23px;
}

.service-heading:before {
  content: '';
  display: block;
  width: 75px;
  height: 76px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 28px;
}

.service-heading-house:before {
  background-image: url(../img/house.svg);
}

.service-heading-burger:before {
  background-image: url(../img/burger.svg);
}

.service-heading-gift:before {
  background-image: url(../img/gift.svg);
}

.service-item p {
  margin: 0;
  padding-bottom: 24px;
}

.main-footer {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: bold;
  width: 33.3%;
  text-align: center;
  padding-top: 28px;
}

.footer-hashtag a {

}

.social-footer {
  width: 33.3%;
  display: flex;
}

.social-footer ul {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
}

.social-footer li {
  margin: 0 3px;
  padding: 0;
}

a.social-button {
  width: 46px;
  height: 48px;
  display: block;
  background-color: #81b3d2;
  padding: 12px 11px;
  box-sizing: border-box;
}

a.social-button:after {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

a.social-button-twitter:after {
  background-image: url(../img/twitter.svg);
}

a.social-button-facebook:after {
  background-image: url(../img/facebook.svg);
}

a.social-button-youtube:after {
  background-image: url(../img/youtube.svg);
}

a.social-button:hover {
  background-color: #669ec0;
}

a.social-button:active {
  background-color: #5496bd;
  opacity: 1;
}

a.social-button:active:after {
  opacity: .3;
}

.footer-academy {
  width: 33.3%;
  display: flex;
}

.footer-academy a {
  margin: auto;
  color: #000;
  height: 40px;
  display: block;
}

.footer-academy a:active {
  opacity: 1;
}

.footer-academy a:after {
  content: '';
  display: inline-block;
  vertical-align: baseline;
  width: 115px;
  height: 41px;
  margin-left: 6px;
  margin-bottom: -16px;
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-academy a:hover:after {
  background-image: url(../img/logo-htmlacademy-hover.svg);
}

.footer-academy a:active:after {
  background-image: url(../img/logo-htmlacademy-active.svg);
}

.list {

}

.list-row {
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 6%;
  display: flex;
}

.list-image {
  width: 135px;
  margin-right: 30px;
}

.list-image img {
  display: block;
}

.list-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.list-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}

.list-rating-value {
  color: #666;
  background-color: #f2f2f2;
  text-transform: uppercase;
  min-height: 27px;
  padding: 3px 15px 0;
  white-space: nowrap;
  margin: 0;
  box-sizing: border-box;
}

.list-stars {
  margin: -2px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.list-stars li {
  display: block;
  width: 18px;
  height: 17px;
  margin: 0 5px 0 0;
  padding: 0;
  background: url(../img/star.svg) no-repeat center;
}

.list-stars li:last-child {
  margin-right: 0;
}

.list-title {
  font-size: 21px;
  line-height: 26px;
  margin: -4px 0 0 0;
}

.list-title a {

}

.list-buttons {
  display: flex;
}

.list-button {
  margin-right: 6px;
}

a.list-action {
  display: block;
  font-weight: bold;
  color: #fff;
  padding: 3px 16px 0;
  height: 27px;
  background: red;
  margin-top: 14px;
  box-sizing: border-box;
}

a.list-action:active {
  opacity: 1;
}

a.list-action:active span {
  opacity: .3;
}

.list-button-blue a {
  background-color: #81b3d2;
}

.list-button-blue a:hover {
  background-color: #669ec0;
}

.list-button-blue a:active {
  background-color: #5496bd;
}

.list-button-brown a {
  background-color: #766357;
}

.list-button-brown a:hover {
  background-color: #604e43;
}

.list-button-brown a:active {
  background-color: #503e33;
}

.list-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 6%;
  display: flex;
}

.list-found {
  margin: 0;
  font-weight: bold;
  color: #000;
  font-size: 21px;
  line-height: 26px;
  width: 135px;
  margin-right: 30px;
}

.list-sort {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 12px;
  line-height: 1;
  padding-top: 8px;
  flex-grow: 1;
}

.list-sort li {
  color: #000;
  margin-right: 30px;
}

.list-sort li:last-child {
  margin-right: 0;
}

.list-sort a {
  border-bottom: 1px dotted #81b3d2;
  color: rgba(0, 0, 0, .3);
}

.list-sort a:hover {
  color: #81b3d2;
}

.list-sort a:active {
  opacity: 1;
  color: #000;
  border-bottom: none;
}

.list-sort-active a {
  color: #81b3d2;
  border-bottom: none;
}

.list-order {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: -6px;
}

.list-order-dir {
  margin: 0;
  padding: 0;
}

.list-order-dir a {
  width: 23px;
  height: 26px;
  display: block;
  background-repeat: no-repeat;
}

.list-order-dir-up a {
  background-image: url(../img/up.svg);
  background-position: 6px 10px;
}

.list-order-dir-up a:hover {
  background-image: url(../img/up-hover.svg);
}

.list-order-dir-up.list-order-dir-active a,
.list-order-dir-up a:active {
  background-image: url(../img/up-active.svg);
  opacity: 1;
}

.list-order-dir-down a {
  background-image: url(../img/down.svg);
  background-position: 6px 9px;
}

.list-order-dir-down a:hover {
  background-image: url(../img/down-hover.svg);
}

.list-order-dir-down.list-order-dir-active a,
.list-order-dir-down a:active {
  background-image: url(../img/down-active.svg);
  opacity: 1;
}

.filter {
  background: #668097 url(../img/hotel-bg.jpg) no-repeat top center;
  color: #fff;
  padding: 28px 6% 30px;
}

.filter-form {
  display: flex;
}

.filter-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-fieldset:nth-child(1) {
  width: 24%;
  min-width: 240px;
}

.filter-fieldset:nth-child(2) {
  flex-grow: 1;
}

.filter-fieldset:nth-child(3) {
  width: 31%;
  min-width: 222px;
  max-width: 318px;
}

.filter-fieldset b {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.checklist {
  margin: 23px 0 0 0;
  padding: 0;
  list-style: none;
}

.checklist li {
  position: relative;
  margin-bottom: 23px;
}

.checklist li:last-child {
  margin-bottom: 0;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.checklist label {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  line-height: 23px;
  padding-left: 39px;
  background: url(../img/checkbox-off.svg) no-repeat 0 0;
}

.checkbox:checked + label {
  background-image: url(../img/checkbox-on.svg);
}

.checkbox:disabled + label {
  opacity: .3;
  cursor: default;
}

.checkbox:focus + label {
  opacity: .6;
}

.filter-submit {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 2px;
  padding: 1px 0 0 0;
  height: 36px;
  width: 137px;
  display: block;
  margin: 0 auto;
}

.filter-submit:hover {
  background-color: #fff;
  color: #000;
}

.filter-range {
  padding-top: 9px;
}

.price-controls {
  margin-bottom: 20px;
  height: 36px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px #fff;
  position: relative;
  display: flex;
}

.price-controls:after {
  content: '';
  display: block;
  height: 22px;
  width: 2px;
  background-color: #fff;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  cursor: pointer;
  width: 50%;
  padding-left: 20%;
}

.price-controls .max-price {
  padding-left: 17%;
}

.price-controls input {
  width: 55%;
  margin: 0;
  color: inherit;
  font: inherit;
  height: 36px;
  background: none;
  border: none;
}

.price-controls input:focus {
  /*outline: none;*/
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  height: 2px;
  background-color: #fff;
  width: 80%;
}

.range-toggle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ababab;
  cursor: pointer;
  box-shadow: inset 0 0 0 8px #fff, 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  position: absolute;
  top: -9px;
}

.range-toggle:hover {
  background-color: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
